body{
  background-color: rgb(236, 236, 236);
}
section{
  width: 100%;
  display: flex;
}
#input {
  width: 80%;
  padding: 0;
  border: none;
  color: #324376;
  background-color: #617fde;
  height: 50px;
  text-align: center;
}
#input:hover{
  background-color: #617fdea0;
}
#button{
  width: 20%;
  border: none;
  padding: 0;
  color: #D8DCFF;
  background-color: #546CB6;
  height: 50px;
  font-weight: bold;
}
#button:hover{
  background-color: #435A9D;
}
#section2{
  display:block;
}
#noText{
  visibility: hidden;
  color: red;
}
ul{
  display: flex;
}
li{
  justify-content: center;
  text-align: left;
  background-color: #f6af32;
  color: #333;
  width: 60%;
  margin: 1% 20%;
  padding: 25px 25px;
}
li:hover{
  filter: invert(0.2);
  text-decoration: line-through;
}
#checkmark{
  visibility: hidden;
}
#allDoneText{
  text-align: center;
  background-color:  rgb(236, 236, 236);
  font-weight: bold;
  color: #333;
}
.urgent{
  background-color: #d44b44;
}