body{
  background-color: rgb(236, 236, 236);
}
section{
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}
#task {
  width: 80%;
  padding: 0;
  border: none;
  color: #324376;
  background-color: #617fde;
  height: 50px;
  text-align: center;
  outline: none;
}
#task:hover{
  background-color: #617fdea0;
}
::placeholder{
  color: #324376;
}
#button{
  width: 20%;
  border: none;
  outline: none;
  padding: 0;
  color: #D8DCFF;
  background-color: #546CB6;
  height: 50px;
  font-weight: bold;
}
#button:hover{
  background-color: #435A9D;
}
#noText{
  text-align: center;
  color: red;
  padding: 15px;
}
#section2{
  display:block;
}
ul{
  display: block;
}
li{
  justify-content: center;
  text-align: left;
  background-color: #f6af32;
  color: #333;
  width: 60%;
  margin: 1% 20%;
  padding: 25px 25px;
}
li:hover:not(#allDoneText){
  filter: invert(0.2);
  text-decoration: line-through;
}
#checkmark{
  display:none;
  padding-right: 15px;
}
#checkmark:hover{
  display: inline;
}
#allDoneText{
  text-decoration: none;
  text-align: center;
  background-color:  rgb(236, 236, 236);
  font-weight: bold;
  color: #333;
  padding: 25px;
}
.urgent{
  background-color: #d44b44;
}
.none{
  display: none;
}